name: "Sample Workflow"
on: 
    push: 
        branches: 
        - master
jobs: 
    testing_job:
        runs-on: ubuntu-latest
        steps: 
            - name: "Welcome Step"
              run: |
                echo "Welcome to this step"
                ls -a

            - name: "Checkout from github directory"
              uses: actions/checkout@v4
            
            - name: "List the project directory"
              run: |
                ls -a

            - name: Build Docker Image
              run: | 
                docker build -t olaranmmy/actionsclass:latest .

            - name: Push to Docker Hub
              run: |
                echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
                docker push olaranmmy/actionsclass:latest

            